@import "./global.less";

circle {
  cursor: pointer;
  stroke-opacity: 0.8;
  stroke-width: 2px;
  stroke: @darkBlueColor;
}

circle:hover {
  stroke-opacity: 0.5;
  stroke-width: 5px;
}

.selected {
  stroke-dasharray: 1;
}

.selected circle {
  stroke-width: 5px;
}

.selected path {
  stroke: yellow;
  stroke-width: 4px !important;
}

.finded circle {
  stroke-width: 20px;
  stroke: #00FFFB;
}

path {
  fill: none;
  cursor: pointer;
  stroke: #01a0f1;
  stroke-width: 2px;
}

path:hover {
  stroke-width: 4px !important;
  stroke-opacity: 0.8;
}

.route {
  stroke: red;
  stroke-width: 5px;
}

text {
  //fill: white;
  text-anchor: middle;
  user-select: none;
  pointer-events: none;
}

.node-text {
  font-size: 10px;
  user-select: none;
  pointer-events: none;
  text-anchor: middle;
}

.link-text {
  font-size: 12px;
}

.link-marker {
}

.labels {
  margin-left: 10px;
  float: left;
  padding: 0 10px;
  border: 1px solid @darkGreyColor;
  border-radius: 5px;
  background-color: @whiteColor;
}

.selected-labels {
  border: 1px solid @darkGreenColor;
  background-color: @darkGreenColor;
  color: white;
}

